body {
  font-family: sans-serif;
  background-color: #89ac76;
  margin-top: 100px;
}

h3 {
  color: white;
}

h3 span {
  color: #89ac76;
}

div {
  text-align: center;
}

div h3 {
  padding: 10px;
  background-color: black;
  display: inline-block;
  border-radius: 5px;
}

button {
  padding: 7px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 10px;
  font-family: "Sigmar One";
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: black;
  color: gray;
}

.nav-center {
  display: block;
  background-color: black;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 5px 50px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px #63c5da, 0 0 10px #63c5da, 0 0 21px #63c5da,
    0 0 42px #63c5da, 0 0 82px #63c5da, 0 0 92px #63c5da, 0 0 102px #63c5da,
    0 0 151px #63c5da;
}

a:hover {
  opacity: 0.5;
}
